services:
  kafka-controller:
    image: apache/kafka:4.0.0
    container_name: kafka-controller
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller:9093,2@kafka-controller-2:9093,3@kafka-controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - seminar_project

  kafka-controller-2:
    image: apache/kafka:4.0.0
    container_name: kafka-controller-2
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller:9093,2@kafka-controller-2:9093,3@kafka-controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - seminar_project
  kafka-controller-3:
    image: apache/kafka:4.0.0
    container_name: kafka-controller-3
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller:9093,2@kafka-controller-2:9093,3@kafka-controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - seminar_project

  kafka_broker:
    image: apache/kafka:4.0.0
    container_name: kafka_broker
    ports:
      - "29092:9092" 
    restart: always
    environment:
      KAFKA_NODE_ID: 4
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka_broker:19092,PLAINTEXT_HOST://localhost:29092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ADVERTISED_HOSTNAME: kafka_broker
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller:9093,2@kafka-controller-2:9093,3@kafka-controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 3000
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_RECONNECT_BACKOFF_MS: 1000 
      KAFKA_RECONNECT_BACKOFF_MAX_MS: 5000
    depends_on:
      - kafka-controller
      - kafka-controller-2
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'nc -z localhost 9092 || exit 1'"]
      interval: 10s
      retries: 10
    networks:
      - seminar_project

  kafka_broker_1:
    image: apache/kafka:4.0.0
    container_name: kafka_broker_1
    ports:
      - "39092:9092"
    restart: always
    environment:
      KAFKA_NODE_ID: 5
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka_broker_1:19092,PLAINTEXT_HOST://localhost:39092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ADVERTISED_HOSTNAME: kafka_broker_1
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller:9093,2@kafka-controller-2:9093,3@kafka-controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 3000
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_RECONNECT_BACKOFF_MS: 1000 
      KAFKA_RECONNECT_BACKOFF_MAX_MS: 5000
    depends_on:
      - kafka-controller
      - kafka-controller-2
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'nc -z localhost 9092 || exit 1'"]
      interval: 10s
      retries: 10
    networks:
      - seminar_project
  kafka_broker_2:
    image: apache/kafka:4.0.0
    container_name: kafka_broker_2
    ports:
      - "49092:9092"
    restart: always
    environment:
      KAFKA_NODE_ID: 6
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka_broker_2:19092,PLAINTEXT_HOST://localhost:39092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ADVERTISED_HOSTNAME: kafka_broker_2
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller:9093,2@kafka-controller-2:9093,3@kafka-controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 3000
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_DEFAULT_REPLICATION_FACTOR: 3
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_RECONNECT_BACKOFF_MS: 1000 
      KAFKA_RECONNECT_BACKOFF_MAX_MS: 5000
    depends_on:
      - kafka-controller
      - kafka-controller-2
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'nc -z localhost 9092 || exit 1'"]
      interval: 10s
      retries: 10
    networks:
      - seminar_project
  jobmanager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jobmanager
    ports:
      - "8081:8081"
    command: jobmanager
    volumes:
      - flink-checkpoints:/tmp/flink-checkpoints
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8081 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - seminar_project

  taskmanager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taskmanager
    depends_on:
      jobmanager:
        condition: service_healthy
    command: taskmanager
    volumes:
      - flink-checkpoints:/tmp/flink-checkpoints
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 4
        taskmanager.memory.process.size: 1728m
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep org.apache.flink.runtime.taskexecutor.TaskManagerRunner | grep -qv grep"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
    networks:
      - seminar_project

  producer_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: producer_app
    volumes:
      - ./script/:/opt/flink/script
    entrypoint: ["bash", "-c", "cd /opt/flink/script && chmod +x run_producer.sh && ./run_producer.sh"]
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka_broker:19092
    depends_on:
      kafka_broker:
        condition: service_healthy
      jobmanager:
        condition: service_healthy
      taskmanager:
        condition: service_healthy
    networks:
      - seminar_project

  processing_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: processing_app
    volumes:
      - ./script/:/opt/flink/script
    entrypoint: ["bash", "-c", "cd /opt/flink/script && chmod +x run_processing.sh && ./run_processing.sh"]
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka_broker:19092
      FLINK_JOBMANAGER_ADDRESS: jobmanager:8081
    depends_on:
      kafka_broker:
        condition: service_healthy
      jobmanager:
        condition: service_healthy
      taskmanager:
        condition: service_healthy
    networks:
      - seminar_project

  cassandra:
    image: cassandra:latest 
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      MAX_HEAP_SIZE: 512M
      HEAP_NEWSIZE: 100M
      CASSANDRA_CLUSTER_NAME: "My Cluster"

    volumes:
      - ./cassandra_data:/var/lib/cassandra 
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "describe keyspaces"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - seminar_project
  cassandra-load-keyspace:
    container_name: cassandra-load-keyspace
    image: cassandra:latest 
    depends_on:
      cassandra:
        condition: service_healthy
    volumes:
      - ./sql_job/jobs.cql:/jobs.cql
    command: /bin/bash -c "sleep 8 && echo loading cassandra keyspace && cqlsh cassandra -f /jobs.cql"
    networks:
      - seminar_project
  
  stock_consumer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stock_consumer
    volumes:
      - ./script/:/opt/flink/script
    entrypoint: ["bash", "-c", "cd /opt/flink/script && python add_to.py"]
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka_broker:19092
      CASSANDRA_HOST: cassandra
    depends_on:
      kafka_broker:
        condition: service_healthy
      cassandra:
        condition: service_healthy
    networks:
      - seminar_project

networks:
  seminar_project:
    driver: bridge

volumes:
  flink-checkpoints:
