pandas==2.2.3
faker>=30.0.0,<=35.0.0
python-dotenv
faker
jsonschema
kafka-python
tenacity
yfinance
cassandra-driver
streamlit
schedule
pytorch-forecasting
fastapi
uvicorn
pydantic
fastapi-cache2
cachetools
httpx
